.App{
  font-family: Arial, Helvetica, sans-serif;
  background-color:pink;
  background-size: auto;
  min-height: 100vh;
font-size:x-large;
color: black;
font-style: italic;
nav{
  background-color:#29f7;
  margin: auto;
  padding: 1rem 2rem;


}
nav ul{
display: flex;
gap: 2rem;
list-style: none;
padding: 60px;
}
}